function Main.main 0
push constant 1
push constant 2
push constant 3
call Math.multiply 2
add
call Output.printInt 1
pop temp 0
push constant 0
return
function Main.hide 0
push argument 0
pop pointer 0
push pointer 0
call Main.draw 1
pop temp 0
push constant 0
return
function Main.draw 3
push argument 0
pop pointer 0
push None None
push None None
push None None
push constant 5
add
push None None
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Main.main 1
call SquareGame.new 0
pop local 0
push local 0
call SquareGame.run 1
pop temp 0
push local 0
call SquareGame.dispose 1
pop temp 0
push constant 0
return
